@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

.back1 {
  padding: 10px;
  font-family: "Zen Kurenaido", sans-serif;
  background-color: none;
  color: white;
  position: relative;
  top: 20% !important;
  left: 1%;
  text-align: center;
  justify-content: center;
}

body {
  text-align: center;
  justify-content: center;
}

@media (max-width: 760px) {
  .back {
    top: 20% !important;
    left: 1%;
  }

  .paragraph1 {
    font-size: 5vw;
  }
}

@media (max-width: 500px) {
  .back1 {
    top: 15% !important;
    left: 0%;
  }

  .paragraph1 {
    font-size: 5vw;
  }
}

.paragraph1 {
  text-shadow: 2px 2px 5px rgb(29, 26, 26);
  padding: 0 40px;
}
