@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

.App {
  text-align: center;
}

.timer {
  font-size: 15vw;
  font-family: "Zen Kurenaido", sans-serif;
  background-color: none;
  position: fixed;
  color: white;
  top: 20%;
  margin-left: 20%;
  margin-right: 20%;
}

span {
  text-shadow: 2px 2px 5px rgb(29, 26, 26);
}

.head {
  font-size: 50px;
  text-shadow: 2px 2px 5px rgb(29, 26, 26);
  margin-bottom: -10px;
}

.buttom {
  font-size: 30px;
  text-shadow: 2px 2px 5px rgb(29, 26, 26);
  margin-top: -15px;
}

.back {
  padding: 10px;
}

body {
  text-align: center;
  font-family: "Zen Kurenaido", sans-serif;
}

.video {
  position: fixed;
  right: 0%;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

@media (max-width: 760px) {
  .timer {
    top: 10%;
  }
}
