@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

.App {
  text-align: center;
}

.timer {
  font-size: 150px;
  font-family: "Zen Kurenaido", sans-serif;
  margin-left: 0;
  margin-top: 10%;
}

span {
  text-shadow: 2px 2px 5px rgb(29, 26, 26);
}

.head {
  font-size: 50px;
}

.buttom {
  font-size: 30px;
}

.back {
  padding: 10px;
}

body {
  text-align: center;
  color: aliceblue;
  background-image: url("./img/lightbulb-ge55b82b56_1920.jpg");
  background-repeat: no-repeat;
}
