@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

.name {
  font-size: 40px;
  text-shadow: 2px 2px 5px rgb(29, 26, 26);
  color: white;
  margin-top: -1px;
}

.back2 {
  padding: 10px;
  font-family: "Zen Kurenaido", sans-serif;
  background-color: none;
  color: white;
  top: 10%;
  left: 10%;
  text-align: center;
  justify-content: center;
}

@media (max-width: 790px) {
  .social {
    left: 26%;
    width: 30% !important;
    display: flex !important;
    text-align: center;
    justify-content: space-between;
    position: relative;
  }
  .rawezh_img {
    width: 80% !important;
    height: auto;
    border-radius: 250px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
  }
}

@media (max-width: 490px) {
  .social {
    left: 6% !important;
    width: 19% !important;
  }
  .rawezh_img {
    width: 50% !important;
    height: auto;
    border-radius: 250px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
  }
}

@media (max-width: 1000px) {
  .social {
    left: 6% !important;
    width: 19% !important;
  }
  .rawezh_img {
    width: 35% !important;
    height: auto;
    border-radius: 250px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
  }
}

.rawezh_img {
  width: 30%;
  height: auto;
  border-radius: 250px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}

.social {
  position: absolute;
  display: block;
  left: 3%;
  top: 18%;
  width: 7% !important;
  text-align: center;
  justify-content: space-between;
  color: white;
}

.facebook {
  margin-right: 15px;
}
